@{
    ViewBag.Title = "Quienes Somos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta página está en proceso de creación. Y le falta un bonito Diseño.</p>
<p>Desarrolladores: Mateus Dysiuta, Bryan Quintana, Tomas Traub</p>
